body {
    background-color: darkcyan;
}


#container {
    background-color: white;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}

#banner {
    width: 100%;
}

.heading_style {
    text-shadow: 2px 2px 2px #000;
}

img {
    display: block;
    margin: 0 auto;
    width: 1000px;
}
nav {
    text-align: center;
    margin: 20px 0;
    background-color: chartreuse;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px; 
    width: 125px;
    height: 40px; 
    line-height: 40px;
}

nav a:hover {
    background-color: white;
    color: black;
}

h1, h2, h3 {
    text-align: center;
}